body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.leftPane {
  grid-column: 1;
    grid-row: 1;
    background-color: rgb(5, 5, 5);
    color: white;
}


.rightPane {
  grid-column: 2;
    grid-row: 1;
    background-color:black;
    color: white;
    width: 100%;
  height: 100%;
}

.App-logo {
  
  object-fit: contain;
  max-width: 15%;
  max-height: 15%;
}

.snapShot {
  
  object-fit: contain;
  max-width: 15%;
  max-height: 15%;
}
.verticalTabs
{
  display: flex;
  flex-direction: column;
  color: white;
  position: absolute;
  left: 50%;
  width: 50%;
  overflow: hidden;
  height: 100%;
}



.joyStick {
   align-self: center;  
   object-fit: contain; 
   display: block;
  margin-left: auto;
  margin-right: auto;
  right: 12.%

}



.head_horizon {
	stroke: black;
	stroke-width: 1;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.joystick {
  position: absolute;
  left: 2%;
  right: 52%;
  top: 2%;
  bottom: 2%;   
}

.joystick_circle,  .head_circle {
   fill: #777777;
   stroke: lightgray;
   stroke-width: 2;
   touch-action: none;
}

.joystick_button, .head_button {
   fill: black;  
   pointer-events: none;    
   touch-action: none;
}

.head_horizon {
 stroke: black;
 stroke-width: 1;
}

/* .rotation_pad {
  fill: #EEEEEE;
  stroke: #BBBBBB;
  stroke-width: 2;
  touch-action: none;
  height: px;
  width: 10px;
} */

 .rotation_button {
  fill: black;  
  pointer-events: none;    
  touch-action: none;
  left: 2%;
  right: 52%;
  top: 2%;
  bottom: 2%;   
} 
